body {
    background-color: lightslategrey;
}

#main-content {
    padding-top: 60px;
}

#logo {
 height: 50px;
}


/* Filter Menu */


.navbar-primary {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: lightsteelblue;
    left: 0px;
    position: absolute;
    top: 80px;
    width: 320px;
    bottom: 30px;
    z-index: 8;
    overflow: auto;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  .navbar-primary.collapsed {
    padding-left: 20px;
    width: 5px;
    left: 0px;
    overflow: hidden;
  }

  .navbar-primary-menu {
    padding: 15px 15px;
  }

  #city-input,
  #zip-input {
    padding-right: 1px;
  }

  #state-input.col-md-2 {
    width:11%;
  }

  #state-input {
    padding-left: 0px;
  }

  #status-label,
  #district-label,
  #ld-label {
    padding-left: 3px;
  }

  #status-input,
  #district-input,
  #ld-input {
    padding-left: 12px;
  }

  #district-input,
  #ld-input,
  #freeholder-input {
    margin-bottom: 10px;
  }

  #reg-school-district-input {
    margin-top: 8px;
  }

  #party-input,
  #age-input,
  #ward-input,
  #cd-input{
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 2px;
  }

  #freeholder-input,
  #reg-school-district-input,
  #school-district-input,
  #fire-district-input {
    margin-left: -26px;
  }


  
  .navbar-primary.collapsed .glyphicon {
    font-size: 12px;
  }
 
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 6px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 12px;
      text-align: center;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }

  div.form-group.row {
    margin-bottom: 0px;
  }

  label.filter-menu
  {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
  }

  input.filter-menu
  {
    height: 28px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  #filter-menu-submit {
    padding: 1px 6px;
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: .2em;
    margin-top: 15px;
    margin-left: 105px;
  }


/* mobile friendly */

   label.col-sm-2 {
      width: 25%;
  }

  #county-input.col-sm-6,
  #address-input.col-sm-6 {
      width: 220px;
  }

  #city-input.col-sm-5 {
    width: 165px;
  }

  #state-input.col-sm-2 {
    width: 55px;
  }

  #zip-input.col-sm-2 {
    width: 125px;
  }

  #party-input.col-sm-1,
  #ward-input.col-sm-1,
  #cd-input.col-sm-1 {
    width: 72px;
  }

  #status-input.col-sm-1 {
    width: 105px;
  }

  #district-input.col-sm-1,
  #ld-input.col-sm-1 {
    width: 105px;
  }

  #party-label.col-sm-1,
  
  #age-label.col-sm-1,
  #ward-label.col-sm-1,
  #cd-label.col-sm-1 {
    width: 65px;
  }

  #age-input.col-sm-1 {
    width: 200px;
  }

  #district-label.col-sm-1,
  #ld-label.col-sm-1,
  #status-label.col-sm-1 {
    width: 55px;
  }

  #freeholder-label.col-sm-1,
  #school-district-label.col-sm-1,
  #reg-school-district-label.col-sm-1,
  #fire-district-label.col-sm-1 {
    width: 168px;
  }
  
  #freeholder-input.col-sm-1,
  #school-district-input.col-sm-1,
  #reg-school-district-input.col-sm-1,
  #fire-district-input.col-sm-1  {
    width: 160px;
  }


  /* Filter Menu */
.district-box{
  background: #7a8897;
  color: white;
  height: 400px;
}

.flex-table {
  display: flex;
  justify-content: normal;
}

.flex-table > h1,
.flex-table > h3
{
  padding-right:10px;
}

.button-center{
  display: flex;
  justify-content: center;
}

.name-size {
  font-size: 20px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

  /*media queries*/

@media only screen and (max-width: 320px) {

  input.filter-menu
  {
    height: 20px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  #filter-menu-submit {
    font-size: 12px;
    margin-top: 0px;
  }

  .navbar-primary-menu {
    padding: 5px 15px;
  }

  #district-input,
  #ld-input,
  #freeholder-input {
    margin-bottom: 5px;
  }

  #reg-school-district-input {
    margin-top: 4px;
  }

  #fire-district-label,
  #fire-district-input {
    margin-top: -5px;
  }
  #city-input,
  #state-input {
    margin-top: -7px;
  }
}
